:root {
  --purple: #2e075d;
  --purple-light: #9033fe;
  --purple-pink: #9837bc;
  --gradient: linear-gradient(#1b0537 20%, #080609 60%);
  --gradient-rotate: linear-gradient(135deg, #1b0537 20%, #080609 60%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  width: 100vw;
  height: 100vh;
  background: var(--gradient);
  display: flex;
  justify-content: center;
  font-family: "DM Sans", sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 34rem;
}

.hidden {
  visibility: hidden;
}

.logo {
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.form__login {
  height: 4.5rem;
  margin-bottom: 3rem;
  color: var(--purple);
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  outline: none;
  padding: 1rem;
  border: none;
  border-radius: 5px;
}

.form__login:focus {
  border: 2px solid var(--purple-pink);
}

.form__button {
  height: 5rem;
  width: 100%;
  font-size: 1.7rem;
  font-weight: 700;
  background-color: var(--purple);
  border: none;
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  letter-spacing: 2px;
  border-radius: 5px;
  transition: 0.3s all;
}

.form__button:hover {
  box-shadow: 0 0 8px var(--purple-pink), 0 0 5px var(--purple), 0 0 3px #fff;
  animation: buttonAnimation 0.5s ease-in-out forwards;
}

.form__button:active {
  width: 90%;
}

@keyframes buttonAnimation {
  100% {
    width: 105%;
    transform: scale(1.1);
  }
  50% {
    width: 95%;
    transform: scale(0.9);
  }
  100% {
    width: 100%;
    transform: initial;
  }
}

.passport__wrapper {
  margin: 7rem 0;
  box-shadow: 0 0 280px var(--purple-pink);
  width: 100%;
  animation: passportEntry 0.5s cubic-bezier(0.075, 0.82, 0.5, 1);
  transition: 0.4s all;
  display: none;
}

.passport--active {
  display: flex;
  cursor: pointer;
}

.passport {
  position: relative;
  overflow: hidden;
  height: 50rem;
  padding: 2rem;
  width: 100%;
  background: var(--gradient-rotate);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--purple-light);
  justify-content: space-between;
  transition: 0.4s all;
}

.passport--active:hover {
  box-shadow: 0 0 25px var(--purple-light);
  transform: scale(1.1);
}

@keyframes passportEntry {
  from {
    transform: translateY(100px) scale(0.4);
  }
  to {
    transform: initial;
  }
}

.passport__header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  font-size: 1.4rem;
  gap: 1.5rem;
}

.passport__content {
  z-index: 99;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.passport__image {
  width: 10rem;
  height: 10rem;
  background: linear-gradient(135deg, var(--purple-light), var(--purple));
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin-bottom: 1rem;
}

.image {
  border-radius: 50%;
  background: #ccc;
  height: 9rem;
  width: 9rem;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.image__avatar {
  width: 6rem;
  height: 6rem;
  width: 100%;
  height: 100%;
}

.content__pattern {
  position: absolute;
  top: 18rem;
  width: 100%;
  height: 100%;
  background-image: url("./bg.svg");
  background-repeat: no-repeat;
}
.content__circle {
  position: absolute;
  top: 20rem;
  right: -28rem;
  border-radius: 50%;
  width: 560px;
  height: 560px;
  background-color: var(--purple);
}

.passport__name {
  font-size: 1.8rem;
}
.passport__login {
  font-size: 1.6rem;
}

.passport__footer {
  z-index: 99;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-self: flex-end;
}

.passport__footer img {
  max-width: 8rem;
}

.passport__social {
  display: flex;
  align-items: center;
  color: #fff;
}

.social__logo {
  width: 2rem;
  fill: rgba(29, 161, 242, 1);
}

.social__twitter {
  font-size: 1.2rem;
}

.footer {
  color: #fff;
  font-size: 1.6rem;
  position: absolute;
  bottom: 1rem;
}

.footer a {
  color: #9033fe;
  font-weight: 500;
}
